*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    align-content: center;
    height: 100vh;
    background-colour: blue;
}
#btn{
    height: 50px;
    width: 50px;

}
